{% extends "home/home.html" %}
{% import "common/admin_page.html" as paginate_page %}

{% block content %}
    {% include "home/menu.html" %}
    <div class="col-md-9">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;评论记录</h3>
            </div>
            <div class="panel-body">
                <ul class="commentList">
                        {% for v in page_data.items %}
                        <li class="item cl">
                            <a href="{{ url_for('home.user') }}">
                                <i class="avatar size-L radius">
                                    <img alt="50x50" width="50px" src="{{ url_for('static',filename='uploads/users/'+v.user.face) }}" class="img-circle">
                                </i>
                            </a>
                            <div class="comment-main">
                                <header class="comment-header">
                                    <div class="comment-meta">
                                        <a class="comment-author" href="{{ url_for('home.user') }}">{{ v.user.name }}</a>
                                        评论于
                                        <time title="2016-12-07 09:12:51" datetime="2016-12-07 09:12:51">{{ v.addtime }}</time>
                                    </div>
                                </header>
                                <div class="comment-body">
                                    {{ v.content | safe }}

                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="col-md-12 text-center">
                        <nav aria-label="Page navigation">
                             {{ paginate_page.page(page_data,'admin.auth_list') }}
                        </nav>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}
